<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Caffeine blues</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/style.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
  </head>
  <body class="bg-stone-800 text-white">
    <main class="flex flex-col">
      <div class="h-14">
        <p class="p-3 text-xl font-bold text-center">
          Caffeine Blues
        </p>
        {{ template "newBrew" . }}
      </div>
      <div id="brews" class="flex-1">
        {{ template "brew" . }}
      </div>
    </main>
  </body>
</html>
