<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Caffeine blues</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/style.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
  </head>
  <body>
    <h1>Hello world</h1>
    {{ range .Brews }}
      <p>{{ .CoffeeIn }} - {{ .CoffeeOut }}</p>
    {{ end }}

    <form hx-post="/brews/new" hx-swap="beforebegin">
      <input type="text" name="brewMethod" id="brewMethod">
      <input type="text" name="brewTime" id="brewTime">
      <input type="text" name="coffeeIn" id="coffeeIn">
      <input type="text" name="coffeeOut" id="coffeeOut">

      <button type="submit">submit</button>
    </form>
  </body>
</html>
